<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module details</title>
</head>
<body>
    <h1>Module details page</h1>
    <div name="header" id="header">
        <h3>Module header</h3>
    </div>
    <div name="content" id="content">
        <h3>Content sections</h3>
    </div>
    <div name="interactive" id="interactive">
        <h3>Interactive components</h3>
    </div>
    <div name="discussion" id="discussion">
        <h3>Discussion box</h3>
    </div>
    <div name="CTA" id="CTA">
        <h3>CTA buttons</h3>
    </div>
    <div name="progress" id="progress">
        <h3>Progress bar</h3>
    </div>
</body>
</html>