<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard user</title>
</head>
<body>
    <h1>Dashboard user page</h1>
    <br>
    <div name="header" id="header">
        <h1>Header part</h1>
    </div>
    <br>
    <div name="main" id="main">
        <h1>Main part</h1>
    </div>
    <br>
    <div name="connect" id="connect">
        <h1>Connect part</h1>
    </div><br>
    <div name="reccommendations" id="reccommendations">
        <h1>Reccommendations part</h1>
    </div><br>
    <div name="sidePanel" id="sidePanel">
        <h1>Side panel part</h1>
    </div>
</body>
</html>