<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Notifications</title>
</head>
<body>
    <h1>Notification Screen</h1>
    <div name="alerts" id="alerts">
        <h3>List of alerts</h3>
    </div>
    <div name="clear" id="clear">
        <h3>Clear all notifications</h3>
    </div>
    <div name="filter" id="filter">
        <h3>Filters</h3>
    </div>
</body>
</html>