<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamification and Achievement</title>
</head>
<body>
    <h1>Gamification and Achievement Screen</h1>
    <div name="badge" id="badge">
        <h3>Badge Collection</h3>
    </div>
    <div name="Leaderboard" id="Leaderboard">
        <h3>Leaderboard</h3>
    </div>
    <div name="interest" id="interest">
        <h3>Cultural interests</h3>
    </div>
    <div name="milestones" id="milestones">
        <h3>Milestones</h3>
    </div>
</body>
</html>