<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore culture</title>
</head>
<body>
    <h1>Explore screen page</h1>
    <div name="search" id="search">
        <h3>Search bar</h3>
    </div>
    <div name="module" id="module">
        <h3>Module categories</h3>
    </div>
    <div name="content" id="content">
        <h3>Content layout</h3>
    </div>
    <div name="feature" id="feature">
        <h3>Feature module</h3>
    </div>
    <div name="filters" id="filters">
        <h3>Filters</h3>
    </div>
</body>
</html>