<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile Screen</h1>
    <div name="header" id="header">
        <h3>Header</h3>
    </div>
    <div name="achivement" id="achivement">
        <h3>Achivement section</h3>
    </div>
    <div name="interest" id="interest">
        <h3>Cultural interests</h3>
    </div>
    <div name="settings" id="settings">
        <h3>Settings button</h3>
    </div>
    <div name="logout" id="logout">
        <h3>Logout button</h3>
    </div>
</body>
</html>