<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community room</title>
</head>
<body>
    <h1>Community room page</h1>
    <div name="header" id="header">
        <h3>Header</h3>
    </div>
    <div name="chat" id="chat">
        <h3>Chat sections</h3>
    </div>
    <div name="pinned" id="pinned">
        <h3>Pinned topics</h3>
    </div>
    <div name="event" id="event">
        <h3>Event schedule</h3>
    </div>
</body>
</html>